cask '{{cask_name}}' do
  version :latest
  sha256 :no_check

  # github.com/google/fonts/ was verified as official when first introduced to the cask
{% if files|length > 1 %}
  url 'https://github.com/google/fonts/trunk/{{folder}}',
      using:      :svn,
      trust_cert: true
{% else %}
  url 'https://github.com/google/fonts/raw/master/{{folder}}/{{files[0] | urlencode}}'
{% endif %}
  name '{{font_name}}'
  homepage 'https://fonts.google.com/specimen/{{name_path}}'

{% for file in files %}
  font '{{file}}'
{% endfor %}
end
